body {
    padding: 10px;
    background-image: url('../images/background2.jpg');
}



#top_bar{
    height: 10pc;
}

#logo_section{
    height: 100%;
    float: left;
}
#logo_section img{
    max-height: 80%;
    float:left;    
}

#login_section{
    float: right;
    position:relative;
    top: 25%;
    padding-right: 5pt;
}

h1{
    color: #FFF;
    float: right;
    font-size: 40pt;
    padding-left: 2pc;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    color: #FFF;
    text-align: center;
    font-size: 38pt;
}

p{
    color: #FFF;
    text-align: center;
    font-size: 20pt;
}


.top_links a{
    text-decoration: none;
    font-size: 30pt;
    padding: 3pc;
}

.form_label{
    color: #FFF;
    font-size: 30pt;
    font-family: Arial, Helvetica, sans-serif;
}

#login_pane{
    float: left;
    width: 400px;
    background-color: #212121;
    padding-top : 50px;
    padding-bottom : 50px;
    padding-left : 20px;
    padding-right : 30px;
}

#login_pane input{
    padding: 5px;
}

#login_wrapper{
    clear: both;
}

.login_text{
    width: 100%;
    clear: both;
    font-size: 20pt;
}

#register_link{
    float: right;
    background-color: aliceblue;
    color: #000
}

#register_link a{
    color: #000;
}

#login_link{
    float:left;
    background-color: #000;
}

#login_link a{
    color: #EEE;
}


