{% extends 'fitness/base.html' %}
{% load staticfiles %}

{% block title_block %}
New Workout
{% endblock %}

{% block body_block %}
<h2>Add a New Workout</h2>



<div id="add_workout_wrapper">
	<div id="add_workout">
		<form id="workout_form" method="post" action="{% url 'add_workout' %}"
			enctype="multipart/form-data">
			{% csrf_token %}
			{% for hidden in form.hidden_fields %}
			{{ hidden }}
			{% endfor %}

			{% for field in form.visible_fields %}
			{{ field.errors }}
			{{ field.help_text }}
			{{ field }}
			<br>
			{% endfor %}
			
			<input class = "author" type="hidden" name="author" value="{{ user.id }}" size="50" />
			
			<input type="submit" name="submit" value="Create Workout" />
		</form>
	</div>
</div>

{% endblock %}