<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
            <link rel="stylesheet" type="text/css" href="{% static 'fitness/style.css' %}">
        <title>
            Fitness Fanatic -
            {% block title_block %}
                Get fit!
            {% endblock %}
        </title>
    </head>

    <body>
        <div id = "top_bar">
            <div id = "logo_section">
                    <img src="{% static "images/logo.png" %}" alt = "FitnessFanatic logo"/>
                    <h1>FitnessFanatic</h1>
            </div>

    {% block top_bar_block %}
            <!--if user is authenticated
                else -->

            <div id = "login_section" href = "">
                <div class = "top_links" id = "login_link">
                    <a href = "{% url 'login' %}">Login</a>
                </div>

                <div class = "top_links" id = "register_link">
                    <a href = "{% url 'register' %}">Register</a>
                </div>
            </div>
            <!-- endif -->
        </div>
    {% endblock %}
    

        {% block body_block %}

        {% endblock %}
    </body>

</html>