{% extends 'fitness/base.html' %}
{% load staticfiles %}

{% block title_block %}
Home
{% endblock %}

{% block body_block %}

{% if user.is_authenticated %}
<h2>Welcome back, {{ user.username }}</h2>
<p>Here are some of the most recently trending posts we thought you'd like.</p>
{% else %}
<h2>Welcome to FitnessFanatic</h2>
<p>
    Login or register to view our catalogue of workouts and exercises. Here are
    just some of the wonderful workouts submitted by our users.
</p>
{% endif %}

{% if workouts %}
<div class="container row card-container">
    {% for workout in workouts %}
    <div class="card">
        {% if workout.image %}
        <img style = "max-height: 200px" class="card-img-top" src="/media/{{ workout.image }}" alt="Workout Image"/>
        {% else %}
        <img style = "max-height: 200px" class="card-img-top" src="{% static 'images/logoflip.png' %}" alt="Workout Image"/>
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ workout.title }}</h5>
            <p  class="card-text">{{ workout.description | truncatechars:70}}</p>

            {% if user.is_authenticated %}
            <a href="{% url 'view_workout' workout.slug %}" class="btn btn-primary">Read More</a>
            <div id="topic" class="upvote">
                <a class="upvote"></a>
                <span class="count">0</span>
                <a class="downvote"></a>
                <a class="star"></a>
            </div>
            {% else %}
            <a href="{% url 'register' %}" class="btn btn-primary">Read More</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}
