{% extends 'fitness/base.html' %}
{% load staticfiles%}

{% block title_block %}
    Home
{% endblock %}

    {% block body_block %}

    {% if user.is_authenticated %}
    <h2>Welcome back, {{ user.username }}</h2>
    {% else %}
    <h2>Welcome to FitnessFanatic</h2>
    <p>
        Login or register to view our catalogue of workouts and exercises. Here are just some of the wonderful exercises submitted by our users.
    </p>
    {% endif %}

    <div id = "home_preview">
        
    </div>
    {% endblock %}
    <!-- endif -->
