{% extends 'fitness/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Register
{% endblock %}

{% block top_bar_block%}
{% endblock %}

{% block body_block %}
	<h1>Register for FitnessFanatic</h1>
	{% if registered %}
		<strong>thank you for registering!</strong>
		<a href="{% url 'index' %}">Return to the WelcomePage</a><br />
	{% else %}
		<div id = login_wrapper>
			<div id ="login_pane">
				<form id="user_from" method="post" action="{% url 'register' %}" enctype="multipart/form-data">
					{% csrf_token %}	
					{{ user_form.as_p }}
					{{ profile_form.as_p}}
					<input type="submit" name="submit" value="Register" />
				</form>
			</div>
		</div>
	{% endif %}	
{% endblock %}