{% extends 'fitness/base.html' %} 
{% load staticfiles %}

{% block title_block %}
	{{ workout.name }}
{% endblock %}

{% block body_block %}
<style>
div.center{

	width: 500px;
	align: center;
	margin-left: auto;
	margin-right: auto;
}
</style>

	{% if workout %}
		
		<h2>{{ workout.title }}</h2>
		
		<div class = "center">
		{% if workout.image %}
        <img style = "max-width: 500px", class="card-img-top" src="/media/{{ workout.image }}" alt="Workout Image"/>
        {% else %}
        <img style = "max-width: 500px" src="{% static 'images/logoflip.png' %}" alt="Workout Image"/>
        {% endif %}
		
		<p>{{ workout.description }}</p>
		
		</div>
		
		
		<h5>{{ total_likes }} Likes </h5>
		
		<form action = "{% url 'like_workout' %}" method = "post">
			{% csrf_token %}
			
			{% if is_liked %}
			<button type = "submit" name="workout_id" value = "{{ workout.id }}" class = "btn btn-danger">Unlike</button>
			{% else %}
			<button type = "submit" name="workout_id" value = "{{ workout.id }}" class = "btn btn-primary">Like</button>
			{% endif %}
			
		</form>
		
	{% else %}
		<h2>The specified workout does not exist!</h2>
	{% endif %}
	
{% endblock %}

