{% extends 'fitness/base.html' %} 
{% load staticfiles %}

{% block title_block %}
	{{ workout.name }}
{% endblock %}

{% block body_block %}
<style>
div.a{
	text-align: center;
}

</style>

	{% if workout %}
		
		<h2>{{ workout.title }}</h2>
		
		<div class = "a">
		{% if workout.image %}
        <img style = "max-width: 500px", class="card-img-top" src="/media/{{ workout.image }}" alt="Workout Image"/>
        {% else %}
        <img style = "max-width: 500px" src="{% static 'images/logoflip.png' %}" alt="Workout Image"/>
        {% endif %}
		</div>
		
		<p>{{ workout.description }}</p>
		
	{% else %}
		<h2>The specified workout does not exist!</h2>
	{% endif %}
	
{% endblock %}

