{% if workouts %}
<!--{% load staticfiles %}-->
<div class="container row card-container">
    {% for workout in workouts %}
    <div class="card">
        {% if workout.image %}
        <img style = "max-height: 200px" class="card-img-top" src="/media/{{ workout.image }}" alt="Workout Image"/>
        {% else %}
        <img style = "max-height: 200px" class="card-img-top" src="{% static 'images/logoflip.png' %}" alt="Workout Image"/>
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ workout.title }}</h5>
            <p  class="card-text">{{ workout.description }}</p>

            {% if user.is_authenticated %}
            <a href="{% url 'about' %}" class="btn btn-primary">Read More</a>
            {% else %}
            <a href="{% url 'register' %}" class="btn btn-primary">Read More</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}